<button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <mat-icon>flag</mat-icon>
</button>
<!--<button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <img src="assets/img/flags/gb.svg" width="20" alt="english"> 
</button>-->
<mat-menu #flagsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu flags">
    <span (mouseleave)="flagsMenuTrigger.closeMenu()">  
        <button mat-menu-item (click)="setLanguage(lang)" *ngFor='let lang of languages'>
            <!-- <img src="assets/img/flags/gb.svg" width="20" [alt]="lang.title">  -->
            {{ lang.title }}
        </button>
    </span>
</mat-menu>