$mat-menu-side-padding: 16px !default;
$clear-button-width: 20px;
$multiple-check-width: 33px;

.mat-select-search-hidden {
    visibility: hidden;
}

.mat-select-search-inner {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 100;
    font-size: inherit;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.mat-select-search-inner-multiple {

        width: 100%;
    }
}

 .mat-select-search-panel {
    /* allow absolute positioning relative to outer options container */
    // transform: none !important;
    overflow-x: hidden;
}

.mat-select-search-input {
    padding: $mat-menu-side-padding;
    padding-right: $mat-menu-side-padding + $clear-button-width;
    box-sizing: border-box;
}

.mat-select-search-no-entries-found {
    padding: $mat-menu-side-padding;
}

/deep/ .cdk-overlay-pane-select-search {
    /* correct offsetY so that the selected option is at the position of the select box when opening */
    // margin-top: -50px;
}