<mat-card>
    <mat-card-content>
  
      <div fxLayoutAlign="center">
        <table>
          <tr>
            <td>
              <h2> {{currentYear}} </h2>
            </td>
            <td>
              <h2>{{schoolName}}</h2>
            </td>
          </tr>
        </table>
      </div> 
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card> 
    <mat-card-content>
      <mat-form-field fxFlex="20%" class="mat-select" appearance="outline">
        <mat-label>إختر ولي الامر</mat-label> 
        <mat-select placeholder=" ولي الامر" [(value)]="selected" (selectionChange)="onParentChanged($event.value)">
           
            <app-mat-select-search [list]="parentList" placeholderLabel="{{ 'Search' | i18n }}"
            noEntriesFoundLabel="{{ 'No data found' | i18n}}" (filterChanged)="filterParents = $event">
          </app-mat-select-search>

          <mat-option *ngFor="let op of parentList" [value]="op.id">
           {{op.id}} | {{ op.fatherName }}
          </mat-option>
  
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>
  <mat-divider></mat-divider> 
  
  
  <div fxLayout="column" class="p-2">
    <div class="p-2">
      <mat-card>
        <mat-card-content>
          <mat-label>
            <h2>
             مالية الطالب
  
            </h2>
          </mat-label>
          <mat-table #table [dataSource]="dataSourceFinstudCard" class="mat-elevation-z8">
            <ng-container *ngFor="let col of colsCard" [matColumnDef]="col.field">
              <mat-header-cell *matHeaderCellDef>
                {{ col.header }}
              </mat-header-cell>
              <mat-cell *matCellDef="let item">
                  <ng-container [ngSwitch]="col.type">

   <p *ngSwitchCase="'percent'">
              {{ item[col.field] }} %
            </p>
            <p *ngSwitchDefault>
              {{ item[col.field] }}
            </p>
          </ng-container>
  
              </mat-cell>
            </ng-container>
  
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>
                التفاصيل
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button mat-icon-button color="info" matTooltip="تفاصيل البنود المالية"
                  (click)="GetStudFeesDtl(element.studentId,element.studentName)">
                  <mat-icon aria-hidden="false" aria-label="info">
                    info
                  </mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumnsCard"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsCard;">
            </mat-row>
          </mat-table>
          </mat-card-content>
          </mat-card>
          </div>
  </div>
  
  
          
  
  <div fxLayout="column" class="p-2">
    <div class="p-2">
      <mat-card>
        <mat-card-content>
          <mat-label>
            <h2>
              تفاصيل البنود المالية
  
            </h2>
          </mat-label>
          <mat-label style="color: red">
            <h3>
              إسم الطالب:
              {{studName}}
            </h3>
          </mat-label>
  
          <mat-table #table [dataSource]="dataSourceDtl" class="mat-elevation-z8">
            <ng-container *ngFor="let col of colsDtl" [matColumnDef]="col.field">
              <mat-header-cell *matHeaderCellDef>
                {{ col.header }}
              </mat-header-cell>
              <mat-cell *matCellDef="let item">
  
                {{ item[col.field] }}
  
              </mat-cell>
            </ng-container>
  
            <mat-header-row *matHeaderRowDef="displayedColumnsDtl"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumnsDtl;">
            </mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  