<app-content-header title="{{'School finance'|i18n}}" [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-4'">
</app-content-header>
<mat-toolbar color="basic" fxLayout="row" fxLayoutAlign="flex-end center" class="px-2 user-toolbar">
    <!-- <a mat-raised-button color="accent" [routerLink]="['../add']"> -->
    <a mat-raised-button color="warn" (click)="addNewSchoolFee()">
        <mat-icon>add_circle_outline</mat-icon> {{'Add'|i18n}}
    </a>

</mat-toolbar>
<div fxLayout="column" class="p-2">
    <div class="p-2">

        <div class="spinner-container" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>

        <div fxLayout="row" class="p-2">
            <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">

                <mat-form-field appearance="outline">
                    <mat-label>{{'School'|i18n}}</mat-label>
                    <mat-select matInput placeholder="{{'School'|i18n}}" (selectionChange)="onSchoolChanged($event.value)">
                        <mat-option *ngFor="let op of schoolList" [value]="op.id">
                            {{op.id}} | {{op.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>{{'Year'|i18n}}</mat-label>
                    <mat-select matInput placeholder="{{'Year'|i18n}}" (selectionChange)="onYearChanged($event.value)">
                        <mat-option *ngFor="let op of yearsList" [value]="op.id">
                            {{op.id}} | {{op.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout fxLayoutAlign="center center">
                    <mat-form-field fxFlex="40%">
                        <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="{{'Search'|i18n}}">
                    </mat-form-field>
                </div>

            </div>
        </div>

        <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container *ngFor="let col of cols" [matColumnDef]="col.field">
                <mat-header-cell *matHeaderCellDef>
                    {{ col.header | i18n }}
                </mat-header-cell>
                <mat-cell *matCellDef="let item">

                    {{ item[col.field] }}

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                    {{'Actions'|i18n}}
                </mat-header-cell>
                <mat-cell *matCellDef="let element">

                    <a mat-icon-button matTooltip="{{'Edit'|i18n}}" (click)="updateSchoolFee(element.id) ">
                        <mat-icon aria-hidden="true" aria-label="Files">
                            edit
                        </mat-icon>
                    </a>

                    <button mat-icon-button color="warn" matTooltip="{{'Delete'|i18n}}" (click)="openDeleteDialog(element)">
            <mat-icon aria-hidden="true" aria-label="Delete">
              delete
            </mat-icon>
          </button>
                    <button mat-icon-button color="info" matTooltip="{{'Details'|i18n}}" [routerLink]="['/sections/view/' + element.id  ]">
            <mat-icon aria-hidden="false" aria-label="info">
              info
            </mat-icon>
          </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
    </div>
</div>