<form [formGroup]="form" novalidate="novalidate">
    <mat-dialog-content>
        <div fxLayout="column" class="p-2">
            <div class="p-2">
                <div class="p-2">
                    <mat-card>
                        <div fxLayout fx.fxLayout.xs="column" fxLayoutGap="5%">
                            <!-- <mat-form-field appearance="outline">
                                <mat-label>{{'Year'|i18n}}</mat-label>
                                <mat-select matInput formControlName="yearId" placeholder="{{'Year'|i18n}}">
                                    <mat-option *ngFor="let year of yearsList" [value]="year.id"> {{year.name}}</mat-option>
                                 </mat-select>
                            </mat-form-field> --> 

                            <mat-form-field appearance="outline">
                                <mat-label>{{'School'|i18n}}</mat-label>
                                <mat-select matInput formControlName="schoolId" placeholder="{{'School'|i18n}}" (selectionChange)="onSchoolChanges($event.value)">
                                    <mat-option *ngFor="let op of schoolList" [value]="op.id">
                                        {{op.id}} | {{op.name}}
                                    </mat-option>
                                </mat-select>
                        
                            </mat-form-field>


                            <mat-form-field appearance="outline">
                                <mat-label>{{'Section'|i18n}}</mat-label>
                                <mat-select matInput #yearId formControlName="sectionId" placeholder="{{'Section'|i18n}}" (selectionChange)="onChangeSection($event.value)">
                                    <mat-option *ngFor="let op of sectionsList" [value]="op.id">
                                        {{op.id}}|{{op.sectionName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                        </div>
                    </mat-card>
                    <mat-card>
                        <div fxLayout fxLayout.xs="column" fxLayoutGap="5%">
                            <mat-form-field appearance="outline">
                                <mat-label>{{'Class'|i18n}}</mat-label>
                                <mat-select matInput formControlName="classId" placeholder="{{'Class'|i18n}}">
                                    <mat-option *ngFor="let class of classList" [value]="class.id"> {{class.id}} | {{class.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>{{'Course'|i18n}}</mat-label>
                                <mat-select matInput formControlName="courseId">
                                    <mat-option *ngFor="let course of coursesList" [value]="course.id">
                                        {{course.id}} | {{course.arDescription}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-card>

                    <mat-card>
                        <div fxLayout fx.fxLayout.xs="column" fxLayoutGap="5%">
                            <!-- <mat-form-field appearance="outline"> -->
                            <!-- <input type="checkbox" matInput formControlName="inGpa"> -->
                            <!-- <mat-checkbox color='primary' formControlName="inGpa"> Check me!</mat-checkbox> -->
                            <mat-label>{{'inGpa'|i18n}}</mat-label>
                            <mat-checkbox formControlName="inGpa" class="pb-3" [checked]="1"> </mat-checkbox>
                            <!-- </mat-form-field> -->



                            <mat-form-field appearance="outline">
                                <mat-label>{{'maxMark'|i18n}}</mat-label>
                                <input matInput formControlName="maxMark" placeholder="{{'maxMark'|i18n}}">
                            </mat-form-field>
                        </div>
                    </mat-card>

                </div>
            </div>
        </div>
    </mat-dialog-content>






    <mat-dialog-actions>
        <!-- <button mat-raised-button [type]="closeDialog" (click)="closeDialog()" color="warn">{{'Back'|i18n}}</button>
        <button mat-raised-button [type]="submit" color="primary">{{'Save'|i18n}}</button> -->

        <button mat-raised-button color="warn" (click)="closeDialog()"> {{'Back'|i18n}}</button>
        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="submit()">{{'Save'|i18n}}</button>
    </mat-dialog-actions>

</form>