.count{
    margin: 20px auto;
    width:20%;
    border: 1px solid gray;
}

.footer-details
{
    width:100%;
    position: absolute;
    bottom: 10px;
}

   
    table{
        border-collapse: collapse; 
    }
    th{
        border:1pt solid rgb(94, 94, 94);
        background-color: rgb(206, 211, 206);
        font-size: 12pt;
    }
    tr.border_bottom td {
        border:1pt solid #CCCCCC;
        padding-top: 5px;
        font-size: 10pt;
      }
   


      .print-container {
        margin: auto;
        width: 210mm;
        border: 1px solid #ccc;
        min-height: 280mm;
        background: #fff;
        position: relative;
        .report-page {
            padding: 15px;
            margin: 10px;
            
        }
    }
    
    .report-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 15px;
    }
    
    .form41-header {
        display: grid;
        font-family: 'Droid Arabic Kufi', sans-serif !important;
        grid-template-columns: 40% 20% 40%;
        // border-bottom: 2px solid #000;
        padding-bottom: 20px;
        margin-bottom: 15px;
        div {
            text-align: start;
        }
        .logo {
            text-align: center;
            width: 10;
            height: 10;
        }
    }
    
    .form41-gpa-info {
        // font-family: 'Droid Arabic Kufi', sans-serif !important;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        padding-bottom: 5px;
        grid-gap: 10px;
        padding-top: 10px;
        padding-top: 10px;
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;
            padding-right: 5px;
            label {
                text-align: end;
            }
            div {
                min-height: 5px;
                min-width: 40%;
                border-bottom: 1px dotted #000000;
            }
        }
    }
    
    .footer-container {
        display: grid;
        grid-template-columns: 40% 60%;
        padding: 15px 40px 10px;
        grid-gap: 10px;
    }
    
    .footer-name {
        float: right;
        padding: 10px 60px;
    }
    
    .footer-date {
        float: left;
        padding: 10px 60px;
    }
    
    .form41-signature-info {
        display: grid;
        grid-template-columns: 100%;
        padding-top: 10px;
        grid-gap: 10px;
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;
            label {
                text-align: end;
            }
            div {
                min-height: 5px;
                min-width: 100%;
                border-bottom: 1px solid #000000;
            }
        }
    }
    
    .form41-employee-info {
        display: grid;
        grid-template-columns: 40% 60%;
        padding-bottom: 20px;
        grid-gap: 10px;
        margin-top: 20px;
        overflow: hidden;
        .min-width-info {
            label {
                min-width: 95px;
            }
        }
        div {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            overflow: hidden;
            label {
                width: auto;
                text-align: start;
                min-width: 170px;
            }
            div {
                min-height: 5px;
                min-width: 100%;
                border-bottom: 1px dotted #000000;
            }
        }
    }
    
    .text-end {
        text-align: end !important;
    }
    
    th.rotate>div {
        transform: rotate(270deg);
        margin-top: 40px;
        font-size: 0.9em;
    }
    
    th.rotate.extra-small>div {
        margin-top: 20px;
    }
    
    .extra-small {
        font-size: 0.7em !important;
    }
    
    .form41-tables {
        // font-family: 'Droid Arabic Kufi', sans-serif !important;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .form41-first-table,
    .form41-second-table {
        width: 100%;
        border: 3px groove #000;
        table-layout: fixed;
        td,
        th {
            // font-family: 'Droid Arabic Kufi', sans-serif !important;
            border: 1px solid #000;
            vertical-align: top;
            text-align: center;
            box-sizing: content-box;
        }
        .form41-vacation-header,
        tbody tr td {
            height: 25px;
        }
        tbody tr td {
            // font-family: 'Droid Arabic Kufi', sans-serif !important;
            height: 25px;
            font-size: 0.8em;
        }
        .form41-vacation-header {
            background-color: #eaeef2;
            background-color: rgba(212, 221, 228, 0.5);
        }
    }
    
    .need-border-5>th:first-child,
    .need-border-5>td:first-child {
        border-right: 3px groove #000000;
    }
    
    .first-table-container {
        //  font-family: 'Droid Arabic Kufi', sans-serif !important;
        width: 70%;
    }
    
    .summaryTable {
        border: 1px solid black;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    
    .fullTable {
        border: 1px solid black;
        tbody tr td {
            // font-family: 'Droid Arabic Kufi', sans-serif !important;
            height: 25px;
            font-size: 0.8em;
        }
    }
    
    .finTable {
        border: 1px solid black;
        width: 25%;
        th,
        td {
            border: 1px solid black;
            border-top: none;
            border-left: none;
            border-right: none;
            font-size: 1em;
        }
    }
    
    .subTable {
        //border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
        tbody tr td {
            // font-family: 'Droid Arabic Kufi', sans-serif !important;
            height: 25px;
            font-size: 0.9em;
            text-align: center;
            border: 1px solid black;
        }
        tbody th {
            -webkit-print-color-adjust: exact;
            border: 1px solid black;
            font-weight: bolder;
            background-color: #c5c8ce;
            color: black;
        }
        //  tbody tr:nth-child(even) {
        //   background-color: #dddddd;
        // }
    }
 