<app-content-header  title="{{'Add / edit financial item'|i18n}}" [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-4'">
</app-content-header>



<div fxLayout="column" class="p-2">
    <div class="p-2">
        <mat-panel-title>
            {{'Definition of financial items'|i18n}}
        </mat-panel-title>
        <mat-panel-description>
            {{'Enter financial items'|i18n}}
        </mat-panel-description>
    </div>
    <div class="p-2">


        <form [formGroup]="form" (ngSubmit)="submit()" novalidate="novalidate">

            <mat-card>
                <mat-card-header fxLayoutAlign="center">
                    <mat-card-subtitle>
                        <h2></h2>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">

                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>{{'Item Name'|i18n}}</mat-label>
                            <input matInput formControlName="desc" type="text" placeholder="{{'Item Name'|i18n}} ">
                            <mat-error *ngIf="validator.hasErrors(desc)">
                                {{ 'Required'|i18n}}
                            </mat-error>
                        </mat-form-field>
                        <!-- <mat-form-field fxFlex appearance="outline">
              <mat-label> اسم البند - انجليزي  </mat-label>
            <input matInput formControlName="laDesc"  type="text" placeholder="   اسم البند - انجليزي ">
          </mat-form-field> -->


                        <mat-form-field fxFlex appearance="outline">
                            <mat-label>{{'Discount/Add'|i18n}}</mat-label>
                            <mat-select matInput formControlName="cdTypeId" placeholder="{{'Discount/Add'|i18n}}">
                                <mat-option *ngFor="let op of cdTypeList" [value]="op.id">
                                    {{op.id}} | {{op.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>


                    <div fxLayout fxLayout.xs="column" fxLayoutGap="50px">


                        <mat-form-field fxFlex appearance="outline">
                            <mat-label> {{'Value /percent'|i18n}} </mat-label>
                            <mat-select matInput formControlName="vpTypeId" placeholder="{{'Value /percent'|i18n}} ">
                                <mat-option *ngFor="let op of vpTypeList" [value]="op.id">
                                    {{op.id}} | {{op.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>


                    </div>



                </mat-card-content>
                <mat-card-actions>
                    <a [routerLink]="returnUrl" mat-button>
          {{'Back'|i18n}}
        </a>
                    <button mat-raised-button color="primary" type="submit">
          {{'Save'|i18n}}
        </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>